<section class="">
    <div class="container vh-100">
        <h1 class="pb-2 display-5 fw-bolder text-center mainTextColor">CONTACT COMPONENT</h1>
        <div class="d-flex justify-content-center align-items-center pb-3 mb-5">
            <div class="line me-4 mainColorBg"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line ms-4 mainColorBg"></div>
        </div>
        <form class="w-50 mx-auto">
            <div class="form-floating mb-5">
               <input type="text" class="form-control shadow-sm border-0" id="floatingName" placeholder="userName">
               <label for="floatingInput">userName</label>
             </div>
            <div class="form-floating mb-5">
               <input type="number" class="form-control shadow-sm border-0" id="floatingAge" placeholder="userAge">
               <label for="floatingInput">userAge</label>
             </div>
            <div class="form-floating mb-5">
               <input type="email" class="form-control shadow-sm border-0" id="floatingEmail" placeholder="userEmail">
               <label for="floatingInput">userEmail</label>
             </div>
             <div class="form-floating">
               <input type="password" class="form-control shadow-sm border-0" id="floatingPassword" placeholder="userPassword">
               <label for="floatingPassword">userPassword</label>
             </div>
             <button class="main-btn text-white mt-5 border-0 p-2 ">Send Message</button>

       </form>

    </div>
  </section>
