<section class="mainTextColor">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h1 class="pb-2 display-5 fw-bolder">PORTFOLIO COMPONENT</h1>
        <div class="d-flex justify-content-center align-items-center pb-3">
            <div class="line me-4 mainColorBg"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line ms-4 mainColorBg"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center align-items-center gy-5 gx-5">
                <div id="item" class="col-lg-4 col-md-6 col-sm-12 position-relative">
                    <!-- Button trigger modal -->
                    <div type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img alt="" class="w-100 rounded-3" src="./assets/portfolio/poert1.png">
                            <div
                                class="overlay position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="text-white fa-solid fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img alt="" class="w-100 rounded-3" src="./assets/portfolio/poert1.png">
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div id="item" class="col-lg-4 col-md-6 col-sm-12 position-relative">
    
                    <!-- Button trigger modal -->
                    <div type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img alt="" class="w-100 rounded-3" src="./assets/portfolio/port2.png">
                            <div
                                class="overlay position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="text-white fa-solid fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
    
                    <!-- Modal -->
                    <div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img alt="" class="w-100 rounded-3" src="./assets/portfolio/port2.png">
                                </div>
                            </div>
                        </div>
                    </div>
    
                   
                </div>
                <div id="item" class="col-lg-4 col-md-6 col-sm-12 position-relative">
    
                    <!-- Button trigger modal -->
                    <div type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img alt="" class="w-100 rounded-3" src="./assets/portfolio/port3.png">
                            <div
                                class="overlay position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="text-white fa-solid fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
    
                    <!-- Modal -->
                    <div class="modal fade " id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img alt="" class="w-100 rounded-3" src="./assets/portfolio/port3.png">
                                </div>
                            </div>
                        </div>
                    </div>
    
                   
                </div>
                <div id="item" class="col-lg-4 col-md-6 col-sm-12 position-relative">
                    <!-- Button trigger modal -->
                    <div type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img alt="" class="w-100 rounded-3" src="./assets/portfolio/poert1.png">
                            <div
                                class="overlay position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="text-white fa-solid fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img alt="" class="w-100 rounded-3" src="./assets/portfolio/poert1.png">
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div id="item" class="col-lg-4 col-md-6 col-sm-12 position-relative">
    
                    <!-- Button trigger modal -->
                    <div type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img alt="" class="w-100 rounded-3" src="./assets/portfolio/port2.png">
                            <div
                                class="overlay position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="text-white fa-solid fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
    
                    <!-- Modal -->
                    <div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img alt="" class="w-100 rounded-3" src="./assets/portfolio/port2.png">
                                </div>
                            </div>
                        </div>
                    </div>
    
                   
                </div>
                <div id="item" class="col-lg-4 col-md-6 col-sm-12 position-relative">
    
                    <!-- Button trigger modal -->
                    <div type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img alt="" class="w-100 rounded-3" src="./assets/portfolio/port3.png">
                            <div
                                class="overlay position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="text-white fa-solid fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
    
                    <!-- Modal -->
                    <div class="modal fade " id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img alt="" class="w-100 rounded-3" src="./assets/portfolio/port3.png">
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>    
            </div>
        </div>  
    </div>
</section>