<section class="secColorBg text-white">
  <div class="container d-flex flex-column align-items-center justify-content-center vh-100">
        <img src="./assets/home/avataaars.svg" class="pb-4 logosize" alt="logo">
        <h1 class="pb-2 display-5 fw-bolder">START FRAMEWORK</h1>
        <div class="d-flex justify-content-center align-items-center pb-3">
          <div class="line me-4 bg-white"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line ms-4 bg-white"></div>
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>
